<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>600039278458-0fi50d93hurac8mgcj2jmbno5tp19g1k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.600039278458-0fi50d93hurac8mgcj2jmbno5tp19g1k</string>
	<key>API_KEY</key>
	<string>AIzaSyDToURsXBesINyfa6NC2RHrWJ2NU48oEbA</string>
	<key>GCM_SENDER_ID</key>
	<string>600039278458</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.teammate</string>
	<key>PROJECT_ID</key>
	<string>teammate-3c11d</string>
	<key>STORAGE_BUCKET</key>
	<string>teammate-3c11d.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:600039278458:ios:7c8c446fe4dbd69c10f8c3</string>
</dict>
</plist>